.backgroundContainer{
  background-color: #EFEFEF;
  width:100%;
  height:100%;
  position: relative;
}
.App{
  height: 80%;
  width: 90%;
  border: 2px solid #EFEFEF;
  border-radius: 20px;
  background-color: white;
  position: fixed;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
}
.profileListContainer{
  margin-top: 10px;
  overflow-y: scroll;
  height:auto;
}
.searchContainers{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


